doctype html
html
    head
        title #{pageName} | #{siteName}
    body
        include ../partials/header.pug

        main
            block content
        
        include ../partials/footer.pug