extends layouts/main.pug
include ./mixins/videoBlock.pug

block content
    each video in videoDB
        +videoBlock({
            id:video.id,
            title:video.title,
            videoFile:video.fileUrl,
            views:video.views,
            creator:video.creator.name
        })
